
p {
    font-weight: bold;
}

#item_price::before {
    content: 'Price: RO '
}

#item_quantity::after {
    content: ' pcs';
}
#item_quantity::before {
    content: 'Available: '
}

img {
    max-width: 100%;
    height: auto;
}

}