
p {
    font-weight: bold;
}

.item-box {
    margin: 10px;
    color: red;
}

#frozen_items {
    border: solid black 2px;
    margin: 5px 5px;
    height: 200px;
    width: 200px;
}

#item_price::before {
    content: 'Price: '
}

#item_quantity::before {
    content: 'Quantity: '
}

img {
    max-width: 100%;
    height: auto;
}