
p {
    font-weight: bold;
}

#item_price::before {
    content: 'Price: '
}

#item_quantity::before {
    content: 'Quantity: '
}

img {
    max-width: 100%;
    height: auto;
}

.frozen_item {
    margin-top: 30px;
}

.frozen_name {
    font-size: 5vw;
}