<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    </head>
    <body>
        <p>Hello</p>

        <a href="{% url 'frozenhome' %}">
            <button>
                <img src="/static/index.png" />
            </button>
        </a>
        </div>
    </body>
    <style>
        img {
            max-width: 100%;
            height: auto;
        }
        button {
            padding:0%;
            width: 100%;
            margin-left: 16px;
        }
    </style>

</html>