<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    </head>
    <body>
        <p>Hello</p>
        <div class='w3-container w3-animate-zoom w3-card-4'>
            <div class=''>
                <a href="{% url 'frozenhome' %}">
                    <input type='image' src='/static/index.png'>
                </a>
            </div>
        </div>
    </body>
    <style>
        img {
            max-width: 100%;
            height: auto;
        }
        button {
            padding:0%;
        }
    </style>

</html>